.nl-modal {
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  display: none;
}

.nl-modal-visible {
  display: block;
}

.nl-modal-content {
  height: 100%;
}

.nl-modal-close-icon {
  width: 8vh;
  height: 8vh;
  position: fixed;
}
