.nl-credentials-form input {
  display: block;
}

.nl-credentials-form.container,
.nl-credentials-form .row {
  height: 100%;
}

.nl-credentials-form img {
  height: 35vh;
  max-width: 100%;
}

.nl-credentials-form input {
  display: block;
  border-radius: 5px;
  height: 8vh;
  width: 100%;
  border: none;
  margin: 4vh 0px;
  font-size: 3vh;
  padding-left: 18px;
  box-sizing: border-box;
  font-family: Comfortaa;
  background-color: #f2d6eb;
}

.nl-credentials-form button {
  font-size: 3vh;
  box-shadow: none;
  border: none;
  height: 8vh;
  border-radius: 5px;
  padding: 0 18px;
  box-sizing: border-box;
  background-color: #5c94bd;
  color: black;
  font-family: Comfortaa;
  max-width: 100%;
  overflow: hidden;

}
